.forecast{
    display: flex;
    justify-content: space-between;
    gap:15%;
    margin:auto;
    padding:0 5%;
}
.defaultForecast{
    width:70%;
    margin:auto;
    padding:0 5%;
}
.input{
    width:100%;
    border: none;
    text-align: center;
    border-radius: 20px;
    color:white;
    height: 40px;
    background-color: rgba(45,110,253,0.4);
}
.input::placeholder{
    color:black;
}
button{
    border-radius: 20px;
    height: 40px;
    width:100px;
    background-color: rgba(45,110,253,0.4);
    border: none;
    text-shadow: 2px 2px black;
    color: white;
}
.form{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin-top:1%;
}
h1{
    margin:0;
    font-size: 60px;
    color:white;
    font-weight:200;
    text-shadow: 2px 2px black;
}
h2{
    color:white;
    font-weight:200;
    text-shadow: 2px 2px black;

}
@media screen and (max-width: 960px) {
    .forecast{
        flex-direction: column;
        margin:auto;
    }
    .h1{
        font-size: 40px;
    }
}