.weather-cards{
    background-color:rgba(254, 253, 253, 0.2);
    border-radius: 40px;
    display:flex;
    width: 90%;
    margin:2% auto;
    padding: 20px;
    color:white;
    font-weight:300;
}
.date{
    font-weight: 400;
    color:black;
    text-shadow: 1px 1px grey;

}
.maxTemp{
    font-size:60px;
    margin:0;
}
.navPoint{
    width:10%;
    height:30%;
    margin-right:10px;
}
.condition{
    display:flex;
    align-items:center;
    width: fit-content;
    color:white;
    font-weight:300;
    font-size:20px;
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 960px) {
    .astro-card{
       font-size:12px;
       margin-left:10%;
    }
    .h1{
        font-size: 40px;
    }
}