.App {
  text-align: center;
  height: 50rem;
  background: rgb(34,193,195);
  background: linear-gradient(310deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-size: cover;
}
@media screen and (max-width: 960px) {
  .App{
    height: 100%;
  }
}

